.statistics {
  min-width: 350px;
  max-width: max-content;
  margin: 30px auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #65717d;
}

.statList {
  display: flex;
  padding: 0;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.item:nth-child(odd) {
  background-color: fuchsia;
}
.item:nth-child(even) {
  background-color: blue;
}

.percentage {
  margin-top: 10px;
  font-size: 18px;
}
